.rich {
    display: none;
}

.rich-toolbar-group {
    margin: 0 5px;
    display: inline-block;
}

.rich-toolbar-group:first-of-type {
    margin-left: 0;
}

.rich-toolbar-item {
    margin-right: 1px;
}

.btn-group .rich-toolbar-item {
    margin: 0;
}

.rich-textarea {
    margin-top: 5px;
    outline: none;
    border: solid #ccc 1px;
    padding: 2px;
}
